@import './config';
@import './responsive';

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: $primary-p-color;
}

.top {
    height: 50px;
    padding: 0;
    background-color: $nav-top-bg-color;
}

.navbar-nav {
    .nav-item {
        .nav-link {
            font-size: 0.85rem;
            font-weight: 400;
            color: $secondary-p-color;

            &:hover {
                color: $secondary-color;
            }
        }
    }
}
  
.icons {
    .social {
        .nav-link {
            padding-right: 1rem;
            padding-left: 1rem;
            transition: all .4s ease-out 0s;
        }
    }
}


section {
    width: 100%;
    padding: 130px 0;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
}

section.featured:after {
    content: '';
    position: absolute;
    z-index: 1;
    top: calc(100% - 30px);
    left: calc(50% - 70px);
    width: 150px;
    height: 60px;
    background-image: url(../img/buu.png);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.25;
}

h2 {
    margin: 1.5rem 0;
    font-size: $h2-size;
    font-weight: $h2-weight;
    line-height: 1.2;
    font-family: $h2-font;
    color: $primary-title-color;
}

h2 .featured {
    position: relative;
    display: inline-block;
    padding: 5px 15px;
    color: $primary-color;
}

h2 .featured:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background-color: $primary-color;
    opacity: 0.15;
}

h4 {
    margin: 1.5rem 0;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.2;
    color: $primary-title-color;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

p {
    margin: 1.5rem 0;
    font-size: $p-size;
    font-weight: $p-weight;
    line-height: 1.5;
}

.primary-button, .primary-button:visited, .primary-button:active {
    position: relative;
    z-index: 2;
    padding: 10px 25px;
    background-color: $primary-color;
    border-radius: 4px;
    border: 1px solid;
    border-color: $primary-color;
    color: $primary-b-color;
    font-weight: 500;
    -webkit-transition: all .4s ease-out 0s;
    -o-transition: all .4s ease-out 0s;
    -moz-transition: all .4s ease-out 0s;
    transition: all .4s ease-out 0s;
}

.pre-title {
    width: fit-content;
    margin: auto;
    display: block;
    font-size: 0.85rem;
    font-weight: 700;
    text-transform: uppercase;
    color: $secondary-color;
}

.card {
    position: relative;
    z-index: 1;
    width: 100%;
    padding: 45px;
    border-radius: 10px;
    border: none;
    background-color: #fff;
    -webkit-transition: all .4s ease-out 0s;
    -o-transition: all .4s ease-out 0s;
    -moz-transition: all .4s ease-out 0s;
    transition: all .4s ease-out 0s;
}

#services {
    background: $service-section-bg;

    .items .item {
        margin-bottom: 30px;
    }

    .card {

        p {
            margin: 0 0 10px;
            white-space: pre-wrap;
            -webkit-transition: all .4s ease-out 0s;
            -o-transition: all .4s ease-out 0s;
            -moz-transition: all .4s ease-out 0s;
            transition: all .4s ease-out 0s;
            font-size: $p-size;
        }

       
    }
}

#about {
    background: $about-section-bg;
    position: relative;

    .image {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
    }

    h2 {
        color: $white-color;
    }

    h2 .featured {
        color: $white-color;
    }

    h4 {
        color: $secondary-t-color;
    } 

    .fit-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .outline-button, .odd .outline-button:visited, .odd .outline-button:active {
        position: relative;
        z-index: 2;
        padding: 10px 25px;
        background-color: transparent;
        border-radius: 4px;
        border: 1px solid;
        border-color: var(--primary-color);
        color: var(--primary-b-color);
        font-weight: 500;
        -webkit-transition: all .4s ease-out 0s;
        -o-transition: all .4s ease-out 0s;
        -moz-transition: all .4s ease-out 0s;
        transition: all .4s ease-out 0s;
    }
}

.results {
    background-image: url(./../img/result-section-bg.jpeg);

    h2, h2 .featured {
        color: $white-color;
    }

    .item {

        h4 {
            color: $secondary-t-color;
        }

        .radial span {
            font-size: 2.5rem;
            color: $secondary-color;
        }
    }
}

footer {
    position: relative;
    background-color: $footer-bg-color;
    color: $secondary-p-color;

    .card:not(.no-hover) {
        background-color: rgba(255, 255, 255, 0.035);

        h4 {
            color: $secondary-t-color;
        }

        i {
            margin-right: 10px;
        }
        
        a:not(.btn) {
            margin: 0 0 0.5rem;
            display: block;
            color: var(--primary-p-color);
        }
    }
    

}

.copyright {
    background-color: $copyright-bg-color;
    color: $secondary-p-color;
}